.header-section{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    padding: 2rem;
}

.header-text{
    width:50%;
}

.header-text h1{
    font-size: 5rem;
    font-weight: 500;
}

.header-text button{
    padding: 1rem 2rem;
    background-color: #191A23;
    color: white;
    border-radius: 1rem;
    margin-top: 1rem;
    font-size: 1rem;
}

.header-text button:hover{
    background-color: hsl(234, 17%, 22%);
    cursor: pointer;
}

.header-img{
    margin-right: 6rem;
}

.logo-types{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin-top: 1rem;
    margin-right: 10rem;
    margin-left: 10rem;
}

.logo-types img{
    filter: grayscale(100%);
    transition: transform 0.3s ease;
}

.logo-types img:hover{
    filter: grayscale(0);
    transform: scale(1.10);
}

@media (max-width: 1490px){

    .header-section{
        gap: 2rem;
        padding: 1.5rem;
        flex-direction: column;
        text-align: center;
    }

    .header-text{
        width: 100%;
    }

    .header-text h1{
        font-size: 3.8rem;
    }

    .header-text p{
        font-size: 1.2rem;
    }

    .header-img{
        margin-right: 0;
        width: 30rem;
        margin: auto;
    }

    .header-img img{
        height: auto;
        width: 90%;
    }

    .logo-types{
        justify-content: center;
        margin: 2rem 3rem;
        gap: 1.5rem;
    }

    .logo-types img{
        width: 120px;
        height: auto;
    }
}

@media (max-width: 700px){

    .header-section{
        padding: 1.5rem;
        flex-direction: column;
        text-align: center;
        gap: 2rem;
    }

    .header-text{
        width: 100%;
    }

    .header-text h1{
        line-height: 1.2;
        font-size: 2.8rem;
    }

    .header-text p{
        width: 90%;
        margin: auto;
        font-size: 1.1rem;
    }

    .header-img img{
        width: 80%;
        margin: auto;
    }

    .logo-types{
        gap: 1rem;
        margin: 2rem 1rem;
        justify-content: center;
    }

    .logo-types img{
        height: auto;
        width: 90px;
    }
}

@media (max-width: 450px){

    .header-text h1{
        font-size: 2.2rem;
    }

    .header-text p{
        font-size: 1rem;
    }

    .header-text button{
        padding: 0.8rem;
        font-size: 0.9rem;
        width: 100%;
    }

    .logo-types img{
        width: 75px;
    }
}
