@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wdth,wght@0,75..100,100..900;1,75..100,100..900&family=Space+Grotesk:wght@300..700&display=swap');


header{
    margin-top: 1rem;
}

.nav-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    padding: 2rem;
}

.nav-center{
    display:flex;
    align-items: center;
    gap: 2rem;
    margin-right: 4em;
}

.nav-links{
    display: flex;
    list-style: none;
    gap: 2rem;
}


.nav-center .nav-links a{
    text-decoration: none;
    color: #000000;
    font-size: 1.5rem;
}

.nav-center button{
    text-decoration: none;
    color: #000000;
    font-size: 1.5rem;
    padding: 1rem;
    border: 1px solid #191A23;
    border-radius: 1rem;
    background-color: white;
}

.nav-center button:hover{
    cursor: pointer;
    background-color: hsl(0, 0%, 90%);
    transition: 0.2s;
}

.nav-center .nav-links a:hover{
    color: hsl(0, 0%, 50%);
    font-size: 1.5rem;
    transition: 0.2s;
    letter-spacing: 1px;
}

@media (max-width: 1000px){
    .nav-container{
        flex-wrap: wrap;
        gap: 1.5rem;
    }

    .nav-center{
        width: 100%;
        justify-content: space-between;
        margin-right: 0;
    }

    .nav-links{
        gap: 1.2rem;
    }

    .nav-center button{
        font-size: 1.2rem;
        padding: 0.8rem 1.2rem;
    }

    .nav-links a{
        font-size: 1.3rem;
    }
}

@media (max-width: 700px){

    .nav-container{
        align-items: flex-start;
        flex-direction: column;
        gap: 1rem;
    }

    .nav-center{
        align-items: flex-start;
        flex-direction: column;
        width: 100%;
        gap: 1rem;
        margin: 0;
    }

    .nav-links{
        gap: 0.8rem;
        flex-direction: column;
    }

    .nav-links a{
        font-size: 1.2rem;
    }

    .nav-center button{
        padding: 0.9rem;
        width: 100%;
        font-size: 1.2rem;
    }
}

@media (max-width: 450px){
    .nav-links a{
        font-size: 1.1rem;
    }

    .nav-center button{
        font-size: 1.1rem;
        padding: 0.8rem;
    }
}
